* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "Montserrat", sans-serif;
}

/* Comienzo de estilos de navbar */

header {
  display: flex;
  justify-content: center;
  height: 65px;
  width: 100%;
  background-color: #151515;
  position: sticky;
  top: 0;
  z-index: 10;
}

nav {
  width: 100%;
  max-width: 1272px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.linkLogo {
  height: auto;
  display: flex;
  align-items: center;
}

.logo {
  height: 100%;
}

.buscadorGrupo {
  background-color: #eeeeee;
  border-radius: 16px;
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: row;
  padding: 5px;
  align-items: center;
}

.buscador {
  border: none;
  background-color: #eeeeee;
  width: 100%;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  color: #8b8b8b;
}

.botonBuscador {
  border: none;
}

.menuResponsive {
  display: none;
}

.menu {
  display: flex;
  align-items: center;
  gap: 8px;
}

.botonPrimario {
  text-decoration: none;
  color: #fafafa;
  font-size: 16px;
  border: 1px solid #fafafa;
  padding: 8px 12px;
  border-radius: 16px;
}

.botonSecundario {
  text-decoration: none;
  color: #fafafa;
  font-size: 16px;
}

/* Fin de estilos de navbar */

section{
  width: 100%;
  padding: 20px 40px;
  max-width: 1272px;
  margin: auto;
}

/* Inicio de estilos de banner */

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenido {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.titulo {
  font-size: 60px;
  font-weight: 400;
}

.titulo > span {
  font-size: 80px;
  font-weight: 800;
  background: #2386c4;
  background: linear-gradient(
    to right,
    #2386c4 0%,
    #5bb84d 25%,
    #f2c12e 50%,
    #f28729 75%,
    #f23827 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.subtitulo {
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 10%;
  font-weight: 600;
}

.bannerImg {
  padding: 0 5%;
  width: 50%;
}

/* Fin de estilos de banner */

/*--Recomendaciones--*/

.recomendaciones {
  display: flex;
  flex-direction: column;
  gap: 32px;
  background-image: url(../img/libreriafondo2.jpg);
  background-size: cover;
}

.recomendaciones h2 {
  margin-bottom: 20px;
  color: white;
}

.swiper {
  width: 100%;
  height: 100%;
  padding: 15px;
}

.swiper-slide {
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 160px;
  margin-right: 20px;
  border-left: 3px solid #000000;
}

.imagen {
  width: 480px;
  height: 100%;
  padding-left: 5px;
}

.imagen img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.informacion {
  margin-left: 5px;
  height: 100%;
}

.informacion h3 {
  margin: 5px 0;
}

.informacion a {
  font-size: 12px;
}

.informacion p {
  height: 35%;
  font-size: 14px;
  text-align: justify;
  overflow: hidden;
}

.informacion button {
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 20px;
  padding: 10px;
}

/*Sección de sobreNosotros*/

.sobreNosotros{
  padding-top: 60px;
}

.textoImg {
  display: flex;
  justify-content: space-between;
}

.img {
  width: 60%;
}

.texto {
  width: 37%;
  text-align: justify;
  font-family: "Montserrat";
  font-size: 14px;
}

/*Contacto*/

.contacto__main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2.8%;
}

.formulario {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(7, 1fr) 2fr repeat(2, 1fr);
  grid-column-gap: 4%;
  grid-row-gap: 1%;
}

.div1 {
  grid-area: 1 / 1 / 2 / 2;
}
.div2 {
  grid-area: 1 / 2 / 2 / 3;
}
.div3 {
  grid-area: 2 / 1 / 3 / 2;
}
.div4 {
  grid-area: 2 / 2 / 3 / 3;
}
.div5 {
  grid-area: 3 / 1 / 4 / 3;
}
.div6 {
  grid-area: 4 / 1 / 5 / 3;
}
.div7 {
  grid-area: 5 / 1 / 6 / 3;
}
.div8 {
  grid-area: 6 / 1 / 7 / 3;
}
.div9 {
  grid-area: 7 / 1 / 8 / 3;
}
.div10 {
  grid-area: 8 / 1 / 9 / 3;
}
.div11 {
  grid-area: 9 / 1 / 10 / 3;
}
.div12 {
  grid-area: 10 / 1 / 11 / 3;
  text-align: end;
}

.div1, .div2, .div5, .div7, .div8, .div9, .div11 {
  display: flex;
  align-items: center;
}

.formulario label {
  font-size: 14px;
  width: 100%;
}

.formulario input[type="radio"],
.formulario input[type="checkbox"] {
  display: none;
}

.vacio,
.seleccionado {
  width: 1.4em;
  height: 1.4em;
}

.label_flex {
  display: flex;
  align-items: center;
  gap: 2%;
}

input[type="radio"] + label .seleccionado,
input[type="checkbox"] + label .seleccionado {
  display: none;
}

input[type="radio"] + label .vacio,
input[type="checkbox"] + label .vacio {
  display: inline-flex;
  align-items: center;
  gap: 3%;
}

input[type="radio"]:checked + label .vacio,
input[type="checkbox"]:checked + label .vacio {
  display: none;
}

input[type="radio"]:checked + label .seleccionado,
input[type="checkbox"]:checked + label .seleccionado {
  display: inline-block;
}

.contacto__contenido input,
.contacto__contenido textarea {
  border: 0.5px solid #151515;
  border-radius: 10px;
  padding: 5px;
}

.contacto__contenido input,
.contacto__contenido textarea {
  width: 100%;
  height: 100%;
  font-size: 16px;
  resize: none;
}

.contacto__contenido input[type="submit"] {
  width: auto;
  background: none;
}

.contactoRedes {
  border-right: 1px solid #151515;
  border-left: 1px solid #151515;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
}

.contactoRedes p {
  margin: 2px 5px;
}

.contactoRedes span {
  margin-top: 10px;
}

.negrita,
.formulario label {
  font-weight: bolder;
}

.contacto__contenido iframe {
  height: 100%;
  width: 100%;
}

a {
  margin: 5px;
  font-size: 20px;
  color: #151515;
}

/*Listado*/
.box {
  width: 95%;
  margin: auto;
}

#card_box {
  margin: 10px;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
  perspective: 700;
  -webkit-perspective: 700;
}

.libro {
  margin: 20px;
  width: 216px;
  height: 340px;
  position: relative;
  background-color: gray;
  transform-style: preserve-3d;
  transition: 0.7s ease;
}

.libro h3,
p {
  margin: 5px;
}

.frente,
.dorso {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.frente img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-bottom: 10px;
}

.dorso {
  background-color: grey;
  transform: rotateY(180deg);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  text-align: justify;
}

.libro:hover {
  transform: rotateY(180deg);
}



@media (max-width: 600px) {
  /*nav*/
  .buscadorGrupo {
    width: 65%;
  }
  
  .menuResponsive {
    display: block;
    margin: 5px;
  }
  
  .fa-book {
    color: #fafafa;
    padding: 4px;
    font-size: 32px;
  }
  
  .menu {
    display: none;
  }
  
  .menuDesplegado {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50vw;
    background-color: #151515;
    overflow-y: hidden;
    top: 50px;
    right: 0px;
    padding: 5px;
    border-radius: 16px;
  }

  /*banner*/

  .banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .contenido {
    padding: 20px;
    width: 100%;
  }

  .titulo {
    font-size: 30px;
  }

  .titulo > span {
    font-size: 40px;
  }

  .subtitulo {
    font-size: 10px;
  }

  .bannerImg {
    padding: 0 10%;
    width: 100%;
  }

  /*sobre nosotros*/

  .textoImg {
    display: block;
  }

  .texto {
    width: 100%;
  }
  
  .img {
    display: none;
  }

  /*contacto*/
  .contacto__main {
    display: block;
  }

  .contacto__contenido {
    margin: 3% 0;
  }
}


 