* {
  box-sizing: border-box;
}

/*--Recomendaciones--*/

.recomendaciones {
  width: 90%;
  height: 100%;
  padding: 40px 16px;
  gap: 32px;
  margin: 20px auto;
}

.novedades h2 {
  margin-bottom: 20px;
}

.swiper {
  width: 100%;
  height: 100%;
  padding: 15px;
}

.swiper-slide {
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 220px;
  border-left: 3px solid #000000;
}

.imagen {
  width: 480px;
  height: 100%;
  padding-left: 5px;
}

.imagen img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.informacion {
  margin-left: 5px;
  height: 100%;
}

.informacion h3 {
  margin: 5px 0;
}

.informacion a {
  font-size: 16px;
}

.informacion p {
  font-size: 14px;
  text-align: justify;
}

.informacion button {
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 20px;
  padding: 10px;
}

/*Sección de sobreNosotros*/

.textoImg {
  display: flex;
  align-items: center;
  padding: 0 60px 0 60px;
}

.img {
  width: 60%;
}

.texto {
  width: 35%;
  padding: 27px;
  text-align: left;
  font-family: "Montserrat";
  font-size: larger;
}


/*Contacto*/
.contacto{
  width: 90%;
  margin: 20px auto;
  padding-top: 0 16px;
}

.contacto__main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2.8%;
}

.formulario{
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(7, 1fr) 2fr repeat(2, 1fr);
  grid-column-gap: 4%;
  grid-row-gap: 1%;
}

.div1 { grid-area: 1 / 1 / 2 / 2; }
.div2 { grid-area: 1 / 2 / 2 / 3; }
.div3 { grid-area: 2 / 1 / 3 / 2; }
.div4 { grid-area: 2 / 2 / 3 / 3; }
.div5 { grid-area: 3 / 1 / 4 / 3; }
.div6 { grid-area: 4 / 1 / 5 / 3; }
.div7 { grid-area: 5 / 1 / 6 / 3; }
.div8 { grid-area: 6 / 1 / 7 / 3; }
.div9 { grid-area: 7 / 1 / 8 / 3; }
.div10 { grid-area: 8 / 1 / 9 / 3; }
.div11 { grid-area: 9 / 1 / 10 / 3; }
.div12 { grid-area: 10 / 1 / 11 / 3;
  text-align: end; 
}

.formulario label{
  font-size: 14px;
}

.formulario input[type="radio"], .formulario input[type="checkbox"]{
  display: none;
}

.vacio, .seleccionado{
  width: 1.4em;
  height: 1.4em;
}

input[type="radio"] + label .seleccionado, input[type="checkbox"] + label .seleccionado {
  display: none;
}

input[type="radio"] + label .vacio, input[type="checkbox"] + label .vacio{
  display: inline-block;
}

input[type="radio"]:checked + label .vacio, input[type="checkbox"]:checked + label .vacio{
  display: none;
}

input[type="radio"]:checked + label .seleccionado, input[type="checkbox"]:checked + label .seleccionado {
  display: inline-block;
}

.contacto__contenido input, .contacto__contenido textarea {
 border: .5px solid #151515;
 border-radius: 10px;
 padding: 5px;
}

.contacto__contenido input, .contacto__contenido textarea{
  width: 100%;
  font-size: 16px;
  resize: none;
}

.contacto__contenido input[type="submit"] {
  width: auto;
  background: none;
}

.contactoRedes {
 border-right :1px solid #151515;
 border-left: 1px solid #151515;
 font-size: 14px;
 display: flex;
 flex-direction: column;
 align-items: baseline;
 justify-content: center;
}

.contactoRedes p{
 margin: 2px 5px;
}

.contactoRedes span {
 margin-top: 10px;
}

.negrita, .formulario label {
 font-weight: bolder;
}

.contacto__contenido iframe {
 height: 100%;
 width: 100%;
}

a{
 margin: 5px;
 font-size: 20px;
 color: #151515;
}

@media screen and (max-width: 480px) {
  .contacto__main {
    display: block;
  }

  .contacto__contenido {
    margin: 3% 0;
  }
}